form, .title{
    margin: 2% 10% 0.5% ;
}


.radio{
    margin-top: 1%;
    margin-bottom: 0.5%;
}


.resultado{
    margin: 0.5% 10%;
}

#resultado{
margin: 0.5% 0%;
}

#executar{
    margin: 0.5% 10%;
    }